= form_for(@lancamento, :html => {:class => "form-horizontal"}) do |f|
  .control-group
    %label.control-label{:for => "inputNormal"}
      Descrição *
    .controls
      .input-prepend.input-append
        %span.add-on.float-left 
          %i.icon-text-width
        = f.text_field :descricao
  .control-group
    %label.control-label Tipo Lançamento *
    .controls
      = f.collection_select :tipo_lancamento_id, @tipos_lancamento, :id, :descricao, :prompt => "Selecione..."
  .control-group#get_categorias
    %label.control-label Categoria *
    .controls
      = f.collection_select :categoria_id, @categorias, :id, :descricao, :prompt => "Selecione..."
  / / Forms: Normal input field
  / Forms: Form Password
  .control-group
    %label.control-label{:for => "inputPassword"}
      Data Vencimento
    .controls
      .input-prepend.input-append
        %span.add-on.float-left 
          %i.icon-calendar          
        = f.text_field :data_vencimento, :class => "datepicker"
  .control-group
    %label.control-label{:for => "inputPassword"}
      Data Pagamento *
    .controls
      .input-prepend.input-append
        %span.add-on.float-left 
          %i.icon-calendar
        = f.text_field :data_pagamento, :class => "datepicker"
  / / Forms: Form Password
  / Forms: Form Option
  .control-group
    %label.control-label{:for => "inputDate"}
      Valor *
    .controls
      .input-prepend.input-append
        %span.add-on.float-left R$
        = f.text_field :valor
  / / Forms: Form Textarea
  / Forms: Form Actions
  .form-actions
    = f.submit "Confirmar", :class => "btn btn-primary"         
    = link_to "Voltar", lancamentos_path, :class => "btn"
  / / Forms: Form Actions
/ / Forms: Form
/ / Forms: Content
/ / Forms: Box
/ Forms: Box

= observe_field('#lancamento_tipo_lancamento_id', '/categorias/por_tipo', 'tipo_lancamento_id', '#lancamento_categoria_id')

