.row-fluid
  / Pie: Box
  .span12
    / Pie: Top Bar
    .top-bar
      %h3
        %i.icon-eye-open
        Lista de Lançamentos
    / / Pie: Top Bar
    / Pie: Content
    .well.no-padding
      #DataTables_Table_0_wrapper.dataTables_wrapper{:role => "grid"}
        %table#DataTables_Table_0.data-table.dataTable{"aria-describedby" => "DataTables_Table_0_info"}
          %thead
            %tr{:role => "row"}
              %th Data Pag.
              %th Data Venc.
              %th Categoria
              %th Tipo Lançamento
              %th Descrição
              %th Valor
              %th Opções
          %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
            - @lancamentos.each do |lancamento|
              %tr.gradeA.odd
                %td= lancamento.data_pagamento  ? lancamento.data_pagamento.to_s_br    : '--'
                %td= lancamento.data_vencimento ? lancamento.data_vencimento.to_s_br   : '--'
                %td= lancamento.categoria       ? lancamento.categoria.descricao       : '--'
                %td= lancamento.descricao
                %td= lancamento.tipo_lancamento ? lancamento.tipo_lancamento.descricao : '--'
                %td= lancamento.valor
                %td= link_to 'Editar', edit_lancamento_path(lancamento)
        #DataTables_Table_0_paginate.dataTables_paginate.paging_two_button
    .actions
      .float-left 
        = link_to "Inicial", '/', :class => 'btn'
      .float-right
        = link_to "Cadastrar", new_lancamento_path, :class => 'btn btn-primary'