.row-fluid
  / Pie: Box
  .span12
    / Pie: Top Bar
    .top-bar
      %h3
        %i.icon-eye-open
        Lista de Lançamentos

    / / Pie: Top Bar
    / Pie: Content
    .well.no-padding
      #DataTables_Table_0_wrapper.dataTables_wrapper{:role => "grid"}
        %table#DataTables_Table_0.data-table.dataTable{"aria-describedby" => "DataTables_Table_0_info"}
          %thead
            %tr{:role => "row"}
              %th Descrição
              %th Tipo Lançamento
              %th Categoria
              %th Usuario
              %th Valor
          %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
            - @lancamentos.each do |lancamento|
              %tr.gradeA.odd
                %td.sorting_1 
                  = lancamento.descricao
                %td 
                  = lancamento.tipo_lancamento ? lancamento.tipo_lancamento.descricao : '--'
                %td
                  = lancamento.categoria ? lancamento.categoria.descricao  : '--'
                %td.center
                  = lancamento.user.email
                %td.center 
                  = lancamento.valor
        #DataTables_Table_0_paginate.dataTables_paginate.paging_two_button
