.row-fluid
  / Pie: Box
  .span12
    / Pie: Top Bar
    .top-bar
      %h3
        %i.icon-eye-open
        Lista de Rotinas
    / / Pie: Top Bar
    / Pie: Content
    .well.no-padding
      #DataTables_Table_0_wrapper.dataTables_wrapper{:role => "grid"}
        %table#DataTables_Table_0.data-table.dataTable{"aria-describedby" => "DataTables_Table_0_info"}
          %thead
            %tr{:role => "row"}
              %th Data Inicial
              %th Data Final
              %th Descrição
              %th Categoria
              %th Tipo Lançamento
              %th Valor
              %th Ativo
              %th Opções
              %th
          %tbody{"aria-live" => "polite", "aria-relevant" => "all", :role => "alert"}
            - @rotinas.each do |rotina|
              %tr.gradeA.odd
                %td= rotina.data_inicial.to_s_br
                %td= rotina.data_final.to_s_br
                %td= rotina.descricao
                %td= rotina.categoria.descricao
                %td= rotina.tipo_lancamento.descricao
                %td= rotina.valor ? rotina.valor.real.real_contabil : ''
                %td= check_box_tag :show, true_or_nil?(rotina.ativo), true_or_nil?(rotina.ativo), :disabled => true
                %td.icon16
                  = link_to '', edit_rotina_path(rotina), :class => "icon-edit", :title => 'Editar'
                %td.icon16
                  = link_to '', rotina, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "icon-remove", :title => "Remover"
        #DataTables_Table_0_paginate.dataTables_paginate.paging_two_button
    .actions
      .float-left 
        = link_to "Inicial", '/', :class => 'btn'
      .float-right
        = link_to "Cadastrar", new_rotina_path, :class => 'btn btn-primary'