.container
  = flash_message
  %br
  .row-fluid
    / Information Boxes: Users Registered
    
    
    %a.in-lancamento.span3.well.infobox{:href => lancamentos_path }
      %i.icon-6x.icon-tags
      .pull-right.text-right
        Lançamentos
        %br
        %b.huge= @totais[0]
        %br
        %span.caps.muted Mensal
    / / Information Boxes: Users Registered
    / Information Boxes: Active Users
    %a.in-receita.span3.well.infobox{:href => receitas_lancamentos_path}
      %i.icon-6x.icon-arrow-up
      .pull-right.text-right
        Receita
        %br
        %b.huge= @totais[1].real.real_contabil
        %br
        %span.caps.muted= "+ " + @totais[4].real.real_contabil + " HOJE"
    / / Information Boxes: Active Users
    / Information Boxes: Images
    %a.in-despesa.span3.well.infobox{:href => despesas_lancamentos_path}
      %i.icon-6x.icon-arrow-down
      .pull-right.text-right
        Despesa
        %br
        %b.huge= @totais[2].real.real_contabil
        %br
        %span.caps.muted= "- " + @totais[5].real.real_contabil + " HOJE"
    / / Information Boxes: Images
    / Information Boxes: Applications
    %a.in-saldo.span3.well.infobox{:href => lancamentos_path}
      %i.icon-6x.icon-bar-chart
      .pull-right.text-right
        Saldo
        %br
        %b.huge= @totais[3].real.real_contabil
        %br
        %span.caps.muted= @totais[6].real.real_contabil + " HOJE"
    / / Information Boxes: Applications
  / / Information Boxes
  / Site Traffic and Pie
  .row-fluid
    / Site Traffic: Box
    .span8
      / Site Traffic: Top Bar
      .top-bar
        %h3
          %i.icon-bar-chart
          Relatório Mensal

      .well
        .tab-content
          #tab-traffic.tab-pane.active
            .progress.progress-mini
              .bar{:style => "width: #{@percentual}%;"}
            .chart(style='min-height: 200px; margin: 10px 0; width: 100%')
              - if @chart
                = high_chart("relatorio1", @chart)


          /#tab-server.tab-pane
          /  .progress.progress-danger.progress-mini
          /    .bar{:style => "width: 98%;"}
          /  .alert.alert-error
          /    %button.close{"data-dismiss" => "alert", :type => "button"} ×
          /    %i.icon-bolt
          /    %b Huge Traffic
          /    Your server has nearly exceeded the bandwidth limits.
          /  .graph.realtimechart{:style => "padding: 0px;"}
          /    %canvas.flot-base{:height => "240", :style => "width: 100px; height: 240px;", :width => "100"}
          /    %canvas.flot-overlay{:height => "240", :style => "width: 100px; height: 240px; position: absolute; left: 0px; top: 0px;", :width => "100"}
        / / Site Traffic: Content
        / Pie: Top Bar
    .span4
      .top-bar
        %h3
          %i.icon-money
          Earnings
      / / Pie: Top Bar
      / Pie: Content
      .tab-content
        #tab-traffic.tab-pane.active
          .chart(style='min-height: 200px; margin: 0px; width: 100%')
            - if @chart
              = high_chart("relatorio2", @chart_pizza) do |c|
                = raw "options.tooltip.formatter = function() {return '<b>'+ this.point.name +'</b>: '+ 100*this.y +' %';}"
                = raw "options.plotOptions.pie.dataLabels.formatter = function() { if (this.y > 5) return this.point.name; }"




