.row-fluid
  .span7.no-margin
    .top-bar
      %h3
        %i.icon-calendar
        Lista de Categorias
    .well
      %table.table.table-bordered.icon16
        %thead
          %tr
            %th Descriçao
            %th Tipo Lancamento
            %th Criação
            %th(colspan=2) Acoes
        %tbody
          - @categorias.each do |categoria|
            %tr
              %td= categoria.descricao
              %td= categoria.tipo_lancamento ? categoria.tipo_lancamento.descricao : '--'
              %td= categoria.created_at.to_s_br
              %td
                - if categoria.user_id
                  = link_to '', edit_categoria_path(categoria), :class => "icon-edit", :title => 'Editar' 
              %td
                - if categoria.user_id
                  = link_to '', categoria, :method => :delete, :data => { :confirm => 'Confirma exclusão da categoria?' }, :class => "icon-remove", :title => "Remover"
  / Forms: Box
  .span5
    / Forms: Top Bar
    .top-bar
      %h3
        %i.icon-cog
        Nova Categoria
    / / Forms: Top Bar
    / Forms: Content
    .well.no-padding
      = flash_message(@categoria)
      / Forms: Form
      / Forms: Normal input field
      = form_for(@categoria, :html => {:class => "form-horizontal"}) do |f|
        .control-group
          %label.control-label{:for => "inputNormal"}
            Descrição *
          .controls
            .input-prepend.input-append
              %span.add-on.float-left
                %i.icon-text-width
              = f.text_field :descricao
        .control-group
          %label.control-label Tipo Lançamento *
          .controls
            = f.collection_select :tipo_lancamento_id, @tipos_lancamento, :id, :descricao, :prompt => "Selecione..."
        / / Forms: Form Textarea
        / Forms: Form Actions
        .form-actions
          .float-right
            = f.submit "Confirmar", :class => "btn btn-primary"     
        / / Forms: Form Actions
      / / Forms: Form
    / / Forms: Content
  / / Forms: Box
  / Forms: Box


