%section.section-wrapper.posts-w
  .container
    .row
      .span12
        .row
          .span6
            .white-card.extra-padding
              = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| 
                .row
                  .span5
                    %legend Esqueceu sua senha?
                    = devise_error_messages! 
                    - if alert
                      .alert.alert-error
                        = alert
                    - if notice
                      .alert.alert-warning
                        = notice 
                    .span3
                      .control-group
                        = f.label :email , "Seu e-mail"
                        = f.email_field :email, :autofocus => true , :class => "span3"
                          
                      %div(style='float: right')
                        = render "users/shared/links" 

                      .control-group
                        = f.submit "Enviar instruções por email", :class => "btn btn-primary"


          
  