.span6
  .white-card.extra-padding
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
      .row
        .span5
          %legend Quero me cadastrar
          = devise_error_messages! 
          .span3
            .control-group
              = f.label :email, "Digite o seu e-mail"
              = f.email_field :email, :class => "span3"
            .control-group
              = f.label :password, "Digite uma senha para acesso"
              = f.password_field :password , :class => "span3"
            .control-group
              = f.label :password_confirmation, "Digite novamente sua senha"
              = f.password_field :password_confirmation, :class => "span3"
            .control-group
              = f.submit "Cadastrar" , :class => "btn btn-primary"
